// Container for the entire page
.HeaderBlanks {
  padding-top: 61px;
}
.s-wrapper {
  .f1 {
    width: 100vw;
    height: 90vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .f1-1 {
      display: flex;
      width: fit-content;
      height: 90vh;

      flex-direction: column;
      justify-content: center;
      align-items: left;
    }

    .f1-2 {
      display: flex;
      width: fit-content;
      height: 90vh;

      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      text-align: right;
    }
  }
}
